<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="POMPractice.FacebookLoginTestcaseExecution"/>
      <class name="POMPractice.NaaptolLoginExecutionPage"/>
      <class name="basic.FacebookLoginTestCasePOM"/>
      <class name="TestNGAll.PriorityToCheck"/>
      <class name="POMPractice.KhanAcademyTestCaseExecution"/>
      <class name="TestNGAll.GroupByTestNGAnotation"/>
      <class name="TestNGAll.PriorityKeywords"/>
      <class name="TestNGAll.TestNgAnotation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
